::selection {
    background-color: #2e3448;
    color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #2e3448;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #232838;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #2e3448;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon {
    padding: 8.5px;
    transform: scale(1.3);
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}





.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #3c4359;
}

.sidebar li a:hover {
    background: #fff;
}

.sidebar li a:hover .links_name {
    color: #000;
}

.sidebar li .on {
    background: #fff;
}

.sidebar li .on .links_name {
    color: rgb(0, 0, 0);
}


.sidebar li a .links_name {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #232838;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

#profileImg {
    border-radius: 25px;
    -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    -o-transition: transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    -webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
    transform: translateZ(0) scale(1.02) perspective(1000px);
}

#profileImg:hover {
    -webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
    transform: scale(1.1) perspective(1500px) rotateY(10deg);
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 12px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #232838;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
    transition: all 0.3s ease-in-out;
}

#log_out:hover {
    transform: scale(1.1);
}


.home-section {
    padding: 180px 80px;
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
    background-color: #3c4359;
    background: linear-gradient(140deg, #3c4359, #000000);
}


.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



.container {
    width: 100%;
    background-color: #3c4359;
    background: linear-gradient(140deg, #000000, #3c4359);
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
    color: #F0F1F8;
    text-decoration: none;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
    text-decoration: none;
    color: #afafb6;
}

.text-red{
    font-size: 14px;
    text-decoration: none;
    color: #ff5555;
}

.container .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #ffffff;
}


.anim-link {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 63px;
    font-weight: 600;
    color: #ffffff;
    padding: 30px;
}

.anim-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: width .3s;
}

.anim-link:hover::after {
    width: 100%;
}

.content .right-side p {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    color: #3c4359;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="submit"] {
    font-size: 18px;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.8rem 1.2rem;
    border: 2px solid #fff;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    color: white;
    background-color: transparent;
    transition: all 0.5s ease;
}

.button input[type="submit"]:hover {
    transform: scale(1.1);
}

@media (max-width: 950px) {
    .container {
        width: 90%;
        padding: 30px 40px 40px 35px;
    }

    .container .content .right-side {
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .container {
        margin: 40px 0;
        height: 100%;
    }

    .container .content {
        flex-direction: column-reverse;
    }

    .container .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container .content .left-side::before {
        display: none;
    }

    .container .content .right-side {
        width: 100%;
        margin-left: 0;
    }
}

#lg {
    transition: all 0.5s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

#lg:hover {
    transform: scale(1.2);
}


.link {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #afafb6;
}

.link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #afafb6;
    transition: width .3s;
}

.link:hover::after {
    width: 100%;
}

.input-dropbox {
    height: 30px;
    width: 50%;
    margin: 12px 0;
    border-radius: 6px;
}
.serverlist {
    height: 298px;
    width: 218px;
    margin: 12px 0;
    color: #3c4359;
    font-size: 22px;
    background: #F0F1F8;
    border-radius: 6px;
}

.server-heading{
    color: white;
}
.server-container{
    overflow-y: scroll;
     display: flex;
    flex-direction: column; 
     gap: 1rem; 
    height: 18rem;
    padding: 1rem 1.5rem;
    background-color: #121212;
    border-radius: .8rem;
}
.form-control {
    font-family: system-ui, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    border-bottom: 4px solid rgba(171, 183, 183) ;
    padding: .5rem 0;
  }

select {
        width: 10rem;
        margin-bottom: 10px;
        margin-top: 10px;
        outline: 0;
        background: #fff;
        color: #000;
        border: 1px solid #deaded;
        padding: 4px;
        border-radius: 9px;
}

  .checkbox-input{
    color: white;
    padding-left: 1.3rem;
    align-self: flex-end;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .checkbox-input>label{
    border: none;
    gap: 5px;
    justify-content: start;
  }

 .id-input>label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .2rem;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .id-input-box{
    padding: 1rem;
    border-radius: .8rem;
    font-size: 1rem;
    width: 70%;
  }
  .form-fields{
    display: grid;
    row-gap: 4rem;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/* */

h1 {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 2rem;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #f8f8f2;
    position: relative; /* add position relative */
    animation-name: float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

@keyframes float {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, -10px);
    }
  }

.bg-darkme {
	background-color: #121212 !important;
}

h2 {
    font-size: 20px;
    line-height: 25px;
}
.card>h1 {
    background-color: transparent
    /*linear-gradient(140deg, #000000, #3c4359)*/
}
.toggles>h1 {
    background-color: #262626;
}
.card {
    width: fit-content;
    margin: 2%;
    height: fit-content;
}
.form-switch {
    margin: 5%
}

.form-check {
    display: inline-flex;
    width: 100%;
    padding-right: 1.85rem;
}

.form-switch .form-check-input:checked[type=checkbox]:before,
.form-switch .form-check-input:checked[type=checkbox]:after,
.form-switch .form-check-input:checked[type=checkbox]:focus,
.form-switch .form-check-input:checked[type=checkbox]:focus-visible,
.form-check-input[type=checkbox]:checked {
    background-color: #6272a4;
}

.input-group-text {
    min-width: 150px;
    color: #6272a4;
    font-weight: bolder;
}

.toggles {
    background-color: #3b3b3b;
}

.toggles>h2 {
    color: #6272a4;
}

.dropdown-toggle {
    border-radius: 0;
    text-transform: capitalize;
}

input[type="range"] { 
    margin: auto;
    margin-left: 5%;
    margin-right: 10%;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 40px;
    width: 200px;
    cursor: pointer;
    border-radius: 0; /* iOS */
}

.slider-group .input-group-text {
    min-width: 200px;
}

.submit {
    width: 250px;
    opacity: 1;
    transition: 0.5s ease;
}

.submit-title {
    color: #deaded;
    padding: 0;
}

.submit:hover {
    opacity: 0.8;
    transform: scale(1.1);
}
.btn-success {
    display: none;
}
.input-group-btn {
    margin-left: -1.74rem;
    margin-top: auto;
    margin-bottom: auto;
}

.input-group-btn>.btn {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.modal.show .modal-dialog {
    margin-top: 20rem;
}

.modal-input {
    width: -webkit-fill-available;
}

::-webkit-slider-runnable-track {
    background: #00000061;
}

/*
* 1. Set to 0 width and remove border for a slider without a thumb
*/
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 40px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw #6272a4;
    border: 2px solid #00000061; /* 1 */
}

::-moz-range-track {
    height: 40px;
    background: #00000061;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #00000061;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw #6272a4;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: #6272a4;
}

::-ms-thumb { 
    background: #fff;
    border: 2px solid #00000061;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #00000061;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}


@media screen and (max-width: 1280px) {
    .card {
        margin: 1%
    }
    .toggles {
        margin-top: -55px;
        padding-top: 0;
        height: auto;
        padding-left: 15px !important;
        width: 460px;
    }
    .form-check {
        display: flex;
        flex-flow: row wrap-reverse;
    }
    .sliders {
        margin-right: 3%;
    }
    .submit-container {
        margin-top: auto;
    }
}

@media screen and (max-width: 426px) {
    .navbar {
        width: 102vw;
    }
    .flex-adjust-box {
        flex-direction: column;
    }
    .toggles {
        margin-top: 15px;
        max-width: 88vw;
    }
    .form-switch .form-check-input {
        margin-right: 4.7rem;
    }
    .inputs-container,
    .sliders,
    .sliders .knob-container {
        padding-left: 20vw !important;
    }
    .submit-container {
        display: none;
    }
    .btn-success {
        display: block;
        width: 100%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

.form-check-label {
    /*display: flex; /* Align text vertically */
    align-items: center; /* Align text vertically */
    margin-bottom: 0;
    color: #6272a4;
    font-size: 16px; /* Increase font size */
    font-weight: bold; /* Add some emphasis */
    /*text-shadow: 1px 1px #000; Add a subtle text shadow */
    letter-spacing: 0.5px; /* Increase letter spacing for readability */
    text-transform: capitalize; /* Capitalize the first letter of each word */
  }
  